toprohect.sh
lesson16/YC/terraform.tfstate*
lesson16/YC/.terraform*
lesson16/SBER/terraform.tfstate*
lesson16/SBER/.terraform*
lesson16/YC_PG/terraform.tfstate*
lesson16/YC_PG/.terraform*
project/terraform/.terraform*
project/terraform/.terraform/terraform.tfstate*
project/terraform/terraform.tfstate*
project/terraform/terraform.tfstate
project/terraform/terraform.tfstate.backup
